@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  gap: 10px;
  padding: 60px 30px;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.title {
  color: rgb(70, 70, 70);
  font-size: 24px;
  font-weight: 600;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1000px;
  max-height: 700px;
  min-height: 400px;
  background-color: white;
  box-shadow: 8px 8px 20px rgb(128, 128, 128);
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-btn {
  width: 100%;
  height: 35px;
  display: flex;
  position: relative;
  bottom: 0;
  justify-content: center;
  list-style-type: none;
}

.container-btn li {
  width: 15%;
  height: 100%;
  border: 0;
  position: relative;
}

.container-btn input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
}

.container-btn input[type="radio"]:checked+label {
  background: grey;
}

.container-btn label {
  width: 100%;
  height: 100%;
  display: flex; 
  cursor: pointer;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
}

.container-btn label:hover {
  background-color: lightgray;
}

.container-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.chart {
  flex-grow: 1;
  display: flex;
  align-items: end;
  width: 100%;
  background-color: grey;
  padding: 25px 30px 5px 30px;
}

.container-form {
  display: flex;
  position: relative;
  width: 100%;
  height: 50px;
  justify-content: center;
  gap: 5px;
  padding: 10px;
}

.container-form button {
  width: 70px;
  border-radius: 5px 0;
  border: 0;
}

.container-form button:hover {
  background-color: lightgray;
}

.ele {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  border: 1px solid grey;
}

.ele-text {
  position: relative;
  top: -20px;
}